$w1: 1407px;
$w2: 847px;
$w3: 591px;
$w4: 100%;

@mixin w1024 {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin w768 {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin w480 {
	@media (max-width: 480px) {
		@content;
	}
}
@mixin w320 {
	@media (max-width: 320px) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: #262626;

	._container {
		max-width: $w1;
		margin: 0 auto;
		padding: 0 15px;

		@include w1024 {
			max-width: $w2;
		}
		@include w768 {
			max-width: $w3;
		}
		@include w480 {
			max-width: $w4;
		}
	}

	img {
		user-select: none;
		pointer-events: none;
	}

	.section-1 {
		height: 663px;

		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(../img/bg/02.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 70%;

		@include w480 {
			height: 100vh;
		}

		._container {
			max-width: 1266px;
			margin: 0 auto;

			@include w1024 {
				max-width: $w2;
			}
			@include w768 {
				max-width: $w3;
			}
			@include w480 {
				max-width: $w4;
			}

			.header {
				min-height: 80px;
				display: flex;
				align-items: center;

				.header__logo {
					display: flex;
					align-items: center;

					img {
						margin-right: 15px;
					}

					h1 {
						font-family: Roboto;
						font-weight: 300;
						font-size: 24px;
						line-height: 28px;
						text-transform: uppercase;
						color: #ffffff;
					}
				}
			}

			.content {
				max-width: 415px;
				margin-top: 147px;

				@media screen and (max-width: 320px) {
					margin-top: 100px;
				}

				.content__title {
					font-family: Roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 36px;
					line-height: 42px;
					text-transform: uppercase;

					color: #ffffff;

					@include w480 {
						font-size: 28px;
						line-height: 33px;
					}
				}

				.content__sub-title {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 28px;
					text-transform: uppercase;

					color: #ffffff;
					margin-top: 10px;

					@include w480 {
						font-size: 20px;
						line-height: 23px;
					}
				}

				.reservations {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 21px;
					color: #ffffff;
					text-decoration: none;

					background: #94866b;
					border-radius: 5px;
					margin-top: 23px;
					padding: 7px 18px;
					transition: 0.2s;
					display: inline-block;

					@media (any-hover: hover) {
						&:hover {
							background: #746953;
						}
					}
				}
			}
		}
	}

	.section-2 {
		._container {
			max-width: 1920px;
			padding: 0 10px;

			.cards {
				padding: 10px 0;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 0 7px;

				@include w768 {
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(2, 1fr);
					grid-gap: 10px;
				}
				@include w480 {
					grid-template-columns: 1fr;
					grid-gap: 30px;
				}

				.card {
					height: 250px;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					@include w1024 {
						width: 100%;
						max-width: 330px;
						height: 150px;
					}

					@include w768 {
						max-width: 368px;

						@media screen and (min-width: 481px) {
							&:last-child {
								margin-left: calc(50% + 10px);
							}
						}
					}
					@include w480 {
						max-width: 100%;
						height: 200px;

						@media screen and (min-width: 481px) {
							&:last-child {
								margin-left: calc(50% + 10px);
							}
						}
					}

					&:hover img {
						width: 120%;
						height: 120%;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: brightness(0.7);
						transition: 0.3s;
					}

					.card__title {
						position: absolute;
						font-family: Roboto;
						font-style: normal;
						font-weight: 500;
						font-size: 24px;
						line-height: 28px;
						text-transform: uppercase;

						color: #ffffff;
						z-index: 50;

						@include w768 {
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	.section-3 {
		height: 663px;
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(../img/bg/theatre-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		@include w768 {
			height: auto;
			padding-bottom: 100px;
		}

		._container {
			height: 100%;

			.content {
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				@include w768 {
					display: grid;
					grid-template-columns: 1fr;
				}

				.col {
					width: 100%;
					max-width: 450px;
					height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: center;

					@include w1024 {
						max-width: 317px;
					}

					@include w768 {
						max-width: 100%;
					}

					.title {
						font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 36px;
						line-height: 42px;
						text-transform: uppercase;

						color: #ffffff;
						margin-bottom: 22px;

						@include w768 {
							max-width: 428px;
						}
					}

					.sub-title {
						font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 21px;
						text-transform: uppercase;

						color: #d3d3d3;

						@include w1024 {
							font-size: 16px;
						}
						@include w768 {
							max-width: 428px;
						}
					}

					.link {
						font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: 21px;
						color: #ffffff;
						text-decoration: none;

						width: 172px;
						display: inline-block;
						padding: 7px 34px;
						background: #94866b;
						border-radius: 5px;
						margin-top: 20px;
						transition: 0.2s;

						@media (any-hover: hover) {
							&:hover {
								background: #746953;
							}
						}
					}
				}

				.col {
					width: 100%;
					max-width: 650px;

					@include w1024 {
						max-width: 492px;
					}
					@include w768 {
						max-width: 80vw !important;
						margin-top: 70px;
						margin-bottom: 50px;
					}

					.calendar {
						width: 570px;
						padding: 0 12px 0 30px;
						background: #262626;
						border-radius: 5px;

						@include w1024 {
							max-width: calc(100% - 50px);
							margin-top: 50px;
						}
						@include w480 {
							max-width: 100%;
						}

						.calendar__header {
							padding: 30px 0;
							display: flex;
							justify-content: space-between;
							align-items: center;

							span {
								font-family: Roboto;
								font-style: normal;
								font-weight: 500;
								font-size: 18px;
								line-height: 21px;
								text-transform: uppercase;

								color: #94866b;
							}
						}

						.hours {
							display: grid;
							grid-template-columns: repeat(5, 1fr);
							grid-gap: 10px;

							@include w1024 {
								grid-template-columns: repeat(4, 1fr);
							}
							@include w768 {
								grid-template-columns: repeat(5, 1fr);
							}
							@media screen and (max-width: 670px) {
								grid-template-columns: repeat(4, 1fr);
							}
							@include w480 {
								grid-template-columns: repeat(3, 1fr);
							}

							.hour {
								width: 98px;
								height: 45px;
								display: flex;
								justify-content: center;
								align-items: center;

								font-family: Roboto;
								font-style: normal;
								font-weight: normal;
								font-size: 18px;
								line-height: 21px;
								color: #ffffff;

								border: 1px solid #ffffff;
								border-radius: 3px;
								transition: 0.2s;
								cursor: pointer;

								@media (any-hover: hover) {
									&:hover {
										background: #383838;
									}
								}

								@include w768 {
									width: 73px;
									font-size: 16px;
								}
							}
						}

						.next-step {
							background: #94866b;
							border-radius: 5px;
							padding: 7px 32px;
							text-decoration: none;
							display: block;
							margin: 42px 0;
							float: right;

							font-family: Roboto;
							font-style: normal;
							font-weight: normal;
							font-size: 18px;
							line-height: 21px;
							color: #ffffff;
							transition: 0.2s;

							@media (any-hover: hover) {
								&:hover {
									background: #746953;
								}
							}
						}
					}
				}
			}
		}
	}

	.section-4 {
		._container {
			padding: 160px 25px;

			@include w1024 {
				padding: 80px 25px;
			}

			.cards {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 120px;

				@include w1024 {
					grid-template-columns: 1fr;
					grid-gap: 60px;
				}

				.card {
					display: flex;
					padding: 10px 0;

					@include w480 {
						display: block;
					}

					.icon {
						width: 120px;
						height: 120px;
						margin-right: 40px;
						display: flex;
						justify-content: center;
						align-items: center;

						@include w480 {
							margin-bottom: 15px;
						}
					}

					.info {
						display: flex;
						flex-direction: column;
						justify-content: center;

						.title {
							font-family: Roboto;
							font-style: normal;
							font-weight: normal;
							font-size: 24px;
							line-height: 28px;
							text-transform: uppercase;

							color: #ffffff;
						}

						.text {
							font-family: Roboto;
							font-style: normal;
							font-weight: 300;
							font-size: 18px;
							line-height: 21px;
							text-transform: uppercase;

							color: #ffffff;
							margin-top: 10px;
							max-width: 448px;

							@include w1024 {
								max-width: 100%;
							}
							@include w480 {
								font-size: 16px;
								line-height: 19px;
							}
						}
					}
				}
			}
		}
	}

	.section-5 {
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.4)
			),
			url(../img/bg/wide-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		box-shadow: 0 0 30px #000000bd;
		border-radius: 5px;
		margin: 0 26px;
		padding: 0 160px;

		@include w1024 {
			padding: 0 40px 0 60px;
		}
		@include w480 {
			padding: 0 0 0 22px;
		}

		.content {
			height: 200px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include w480 {
				flex-direction: column;
				justify-content: center;
				align-items: start;
				height: 260px;
			}

			.title {
				max-width: 500px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 28px;
				text-transform: uppercase;

				color: #ffffff;

				@include w768 {
					max-width: 422px;
				}
				@include w480 {
					margin: 20px 0 30px 0;
					font-size: 20px;
					line-height: 23px;
				}
			}

			.reservations {
				text-decoration: none;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 21px;
				color: #ffffff;
				display: inline-block;
				padding: 7px 18px;
				background: #94866b;
				border-radius: 5px;
				transition: 0.2s;

				@include w480 {
					padding: 10px 32px;
				}

				@media (any-hover: hover) {
					&:hover {
						background: #746953;
					}
				}
			}
		}
	}

	.section-6 {
		margin-top: 176px;

		._container {
			.content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 220px;

				@include w1024 {
					grid-template-columns: 1fr;
					grid-gap: 20px;
				}

				.col {
					.col__inner {
						.img {
							margin-bottom: 56px;
						}

						.top_border,
						.bottom_border {
							font-family: Roboto;
							font-style: normal;
							font-weight: 300;
							font-size: 96px;
							line-height: 112px;

							text-transform: uppercase;

							color: #ffffff;
						}
						.text {
							margin-top: -60px;
							font-family: Roboto;
							font-style: normal;
							font-weight: 300;
							font-size: 18px;
							line-height: 21px;
							text-transform: uppercase;
							padding: 0 30px 0 50px;

							color: #ffffff;
						}

						.bottom_border {
							display: flex;
							justify-content: end;
						}
					}
				}
			}
		}
	}

	.footer {
		width: 90%;
		height: 75px;
		border-top: 1px solid #fff;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include w768 {
			width: 95%;
			height: auto;
			flex-direction: column;

			padding: 30px 0;
		}

		.col {
			display: flex;
			align-items: center;

			@include w768 {
				flex-direction: column;
			}

			.footer__logo {
				display: flex;
				align-items: center;
				margin-right: 85px;

				@include w768 {
					margin-right: 20px;
				}

				img {
					margin-right: 15px;
				}

				h1 {
					font-family: Roboto;
					font-weight: 300;
					font-size: 24px;
					line-height: 28px;
					text-transform: uppercase;
					color: #ffffff;

					@include w1024 {
						font-size: 20px;
						line-height: 24px;
					}

					@include w768 {
						font-size: 17px;
						line-height: 20px;
					}
				}
			}

			.links {
				display: flex;
				flex-wrap: wrap;

				@include w768 {
					display: grid;
					grid-template-columns: 1fr;
					grid-gap: 20px;
					place-items: center;
					padding: 30px 0;
				}

				a {
					font-family: Roboto;
					font-style: normal;
					font-weight: 300;
					font-size: 22px;
					line-height: 26px;
					color: #94866b;
					text-decoration: none;
					transition: 0.2s;

					@include w1024 {
						font-size: 18px;
						line-height: 21px;
					}

					&:not(:last-child) {
						margin-right: 70px;

						@include w1024 {
							margin-right: 50px;
						}
						@include w768 {
							margin-right: 0;
						}
					}

					&:hover {
						color: #9e9e9e;
					}
				}
			}
		}

		.upward {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #ffffff;
			text-decoration: none;
			padding: 7px 34px;
			border: 1px solid #ffffff;
			border-radius: 5px;
			transition: 0.2s;

			&:hover {
				border: 1px solid #94866b;
				color: #94866b;
			}
		}
	}
}
